bert_api/data/bert_model/** filter=lfs diff=lfs merge=lfs -text
bert_api/data/logs/** filter=lfs diff=lfs merge=lfs -text
bert_api/data/ru_conversational_cased_L-12_H-768_A-12/** filter=lfs diff=lfs merge=lfs -text
